URxvt*loginShell: true
URxvt*scrollBar: false
URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheShot

!URxvt*font: xft:Ricty:size=14:antialias=true
!URxvt.letterSpace: -1

!URxvt*font: xft:Cica:size=14:antialias=true:hinting=true
!URxvt.letterSpace: 0
!URxvt*font: xft:Inconsolata Nerd Font:pixelsize=20
!URxvt.letterSpace: 0

!URxvt*font: xft:Sauce Code Pro Nerd Font:pixelsize=20
!URxvt.letterSpace: 0
!#define fonts xft:Sauce Code Pro Nerd Font:pixelsize=18,\
!              xft:terminus:pixelsize:18,\
!              xft:bitstream vera sans mono:pixelsize=18
!#define fonts xft:Sauce Code Pro Nerd Font:pixelsize=16,\
!              xft:Cica,\
!              xft:BitstreamVeraSansMono Nerd Font Mono

!#define fonts xft:SauceCodePro Nerd Font Mono:pixelsize=16,\
!              xft:Cica,\
!              xft:BitstreamVeraSansMono Nerd Font Mono

#define fonts xft:Cica:pixelsize=16,\
              xft:SauceCodePro Nerd Font Mono,\
              xft:BitstreamVeraSansMono Nerd Font Mono

!#define fonts xft:Cica:pixelsize=18:hinting=true,\
!              xft:Sauce Code Pro Nerd Font
!#define fonts xft:Cica:pixelsize=16
URxvt*font: fonts
URxvt.letterSpace: +1

URxvt.pointerBlank: true
URxvt.visualBell: true
URxvt.saveLines: 10000

!! Background
URxvt.transparent: true
URxvt.shading: 15
URxvt.fading: 10

!! Color
URxvt.color0:     #282828
URxvt.color1:     #f43753
URxvt.color2:     #c9d05c
URxvt.color3:     #ffc24b
URxvt.color4:     #b3deef
URxvt.color5:     #d3b987
URxvt.color6:     #73cef4
URxvt.color7:     #eeeeee
URxvt.color8:     #1d1d1d
URxvt.color9:     #f43753
URxvt.color10:    #c9d05c
URxvt.color11:    #ffc24b
URxvt.color12:    #b3deef
URxvt.color13:    #d3b987
URxvt.color14:    #73cef4
URxvt.color15:    #ffffff
URxvt.foreground: #eeeeee
URxvt.background: #282828
URxvt.colorIT:    #8ec07c
URxvt.colorBD:    #fe8019
URxvt.colorUL:    #83a598

xterm*dynamicColors: true
URxvt*dynamicColors: on

